<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
<div sec:authorize="isAuthenticated()">
    <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
    <form th:action="@{/logout}" method="post">

        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div class="mainGridRow" sec:authorize="isAuthenticated()">
    <h1>Add Questions</h1>
    <br>
    <form th:action="@{/question/insert}" th:object="${question}" method="post">
    <label> Question Title:</label>
    <input type="text" name="title" th:field="${question.title}" placeholder="Enter Question title" required/>
    <label> Question Description:</label>
    <input type="text" name="description" th:field="${question.description}" placeholder="Enter Question Description" required/>
    <label> Question Type:</label>
    <select th:field="${question.type}" required>
        <option th:each="type : ${questionTypes}" th:value="${type.toString()}" th:text="${type}"></option>
    </select>
        <br>
        <br>
    <input type="Submit" name="Submit" value="Next"/>
        <br>
    </form>

</div>
</body>
</html>