<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
<div sec:authorize="isAuthenticated()">
    <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
    <form th:action="@{/logout}" method="post">

        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div class="mainGridRow" sec:authorize="isAuthenticated()">
    <br>
    <br>
    <h1>Insert Options</h1>
    <br>
    <br>
    <form th:action="@{/question/insertOptions}" th:object="${opts}">
        <table>
            <tr th:each="opt, itemStat : ${opts.options}">
                <td><Label>Option:</Label><input th:field="${opts.options[__${itemStat.index}__].description}" /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><Label>Stored As:</Label><input th:field="${opts.options[__${itemStat.index}__].storedas}" /></td>
            </tr>
        </table>
        <br>
        <br>
        <input type="Submit" value="Submit"/>
    </form>

</div>
</body>
</html>