

/* Full-width inputs */
input[type=text], input[type=password] {
  outline: none;
  padding: 10px;
  font-size: 12px;
  margin: 8px 0;
  width:100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Set a style for all buttons */
button, input[type=submit] {
  background-color: #4CAF50;
  font-size: 12px;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
  width:100%;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.add{
        border: 3px solid #f1f1f1;
         align:center;
         width: 200px;
         height: 300px;
         position: absolute;
         left:45 %;
         top: 45%;
         transform: translate(-50%, -50%);

}
.row {
display: inline-block;
}

/* Add padding to containers */
.container {
	border: 3px solid #f1f1f1;
    position: absolute;
    left: 10;
    top: 45px;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
    padding: 20px;

}

.container1{
  position: absolute;
  top: 45px;
  left:400px;
  right:20px;
  padding: 6px;
  margin:20px auto;
  border: 3px solid #f1f1f1;
  overflow:scroll;
}



table {
  border-collapse: collapse;
  width: 50%;



}

td {
	font-size: 16px;
    text-align: left;
    padding: 10px 45px;
}

th{
  font-size: 18px;
  text-align: center;
  padding: 10px 45px;

}


tr:nth-child(even) {
  background-color: #f2f2f2;
}