/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  margin: 200px auto;
  width: 300px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  outline: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}