<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<head>
<title>Confirm Password Page</title>
</head>
<body>
<form th:action="@{/reset_token/{path}(path=${resetToken})}" method="post">

  <div class="container">
  	<h2 class="reset">Reset Password</h2>
  	
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Submit</button>

  </div>


</form>



</body>
</html>