<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Password Page</title>
  <!-- This file includes all default styles for this application. -->
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body class="bodyGridContainer">
<main class="bodyGridRow mainGridContainer">
  <div class="mainGridCentreCard">
    <form th:action="@{/reset_token/{path}(path=${resetToken})}" method="post">

    <div class="container">
      <h2 class="reset">Reset Password</h2>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <input type="submit" value="Submit"/>

    </div>

    </form>
  </div>
</main>



</body>
</html>